* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Norse Bold';
    src: url('fonts/Norse-Bold.otf');
}

body {
    display: flex;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    min-width: 40vw;
    background: url(images/background.jpg); 
}

.logo {
    background: rgb(0, 0, 0, 0.5);
    text-align: center;
    margin-top: 100px;
}

img[src="images/logo.png"] {
    height: 75px;
    width: 60px;
}

footer {
    color: white;
    text-align: center;
}

.credit {
    color: white;
}

.title {
    font-size: 75px;
    font-family: 'Norse Bold', 'Brush Script MT', Impact;
    color: white;
}

.form-header {
    background-color: gainsboro;
    padding: 80px 80px 30px 30px; /*top right bottom left*/
    font-weight: bold;
}

.main-header {
    margin-bottom: 1em;
}

.form-title {
    margin-left: 30px;
    font-size: 1.5em;
    margin-top: 10px;
}    

label {
    position: relative;
    display: block;
    font-size: 10px;
}

fieldset {
    border: none;
    box-shadow: 5px 5px 5px lightgray;
}

.name, .contact, .password {
    display: flex;
}

.first {
    margin: 20px 50px 0px 30px;
}

.second {
    margin-top: 20px;
}

.password {
    margin-bottom: 20px;
}

button {
    margin: 30px 30px 20px 30px;
    background-color: lightblue;
    padding: 5px 15px;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    border: none;
    height: 30px;
    width: 150px;
}

button:active {

}

.log-in {
    margin-left: 30px;
}

.log-in > a {
    color: lightblue;
}

input {
    border: 0.5px solid #E5E7EB;
    border-radius: 7px;
}

input:focus, input:hover {
    border: 0.5px solid blue;
    box-shadow: 2px 2px 2px lightgray;
}

input:invalid {
    border: 0.5px solid red;
}

input + span {
    position: relative;
    display: flex;
}

.pwd input[type="password"]:invalid + span::after {
    position: absolute;
    width: 20em;
    font-family: inherit;
    content: "*Passwords do not match";
    top: 0;
    left: 0;
    font-size: 0.8em;
}
